<ion-header >
  <ion-toolbar >

    <ion-title>ADD Despesa</ion-title>
    <ion-buttons slot="end">
     <ion-button (click)="excluirLancamento()">
       <ion-icon name="trash-outline" color="danger"></ion-icon>
     </ion-button>
     <ion-button (click)="todo.valid && salvarLancamento()" [disabled]="!todo.valid">
       <ion-icon name="save-outline" color="success"></ion-icon>
     </ion-button>
   </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
<form [formGroup]="todo" >
      <ion-item>
        <ion-label  position="floating">Descrição*</ion-label>
        <ion-input name="descricao" formControlName="descricao" placeholder="Descrição" [(ngModel)]="lancamento.descricao"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Data</ion-label>
        <ion-datetime formControlName="dataLacamento" [(ngModel)]="lancamento.dataLacamento" cancelText="Cancelar" doneText="Ok" max="2050-12-09" displayFormat="DD/MM/YYYY" placeholder="Selecione uma Data"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label [ngStyle]="{'color': corValor}" position="floating">Valor*</ion-label>
        <ion-input formControlName="valorString" type="tel" placeholder="(R$) Real" [brmasker]="{money: true}" [(ngModel)]="lancamento.valorString"></ion-input>
        <!--<div>{{lancamento.valor | currency:"BRL":true:"1.2-2"}}</div>-->
      </ion-item>
      <ion-item>
        <ion-label >Repetir o Lançamento</ion-label>
        <ion-toggle formControlName="repetirLancamento" [(ngModel)]="repetirLancamento" color="success"></ion-toggle>
      </ion-item>
      <ion-item *ngIf="repetirLancamento==1">
        <ion-label position="floating">Mais quantas vezes?</ion-label>
        <ion-input formControlName="quantidadeVezes" [(ngModel)]="lancamento.quantidadeVezes" type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Pago?</ion-label>
        <ion-toggle formControlName="situacao" [(ngModel)]="lancamento.situacao" color="success"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Categoria</ion-label>
        <ion-select formControlName="categoria" cancelText="Cancelar" interface="action-sheet" [(ngModel)]="lancamento.categoria">
          <ion-select-option value="Alimentação">Alimentação</ion-select-option>
          <ion-select-option value="Casa">Casa</ion-select-option>
          <ion-select-option value="Veículo">Veículo</ion-select-option>
          <ion-select-option value="Outro">Outro</ion-select-option>
        </ion-select>
      </ion-item>
</form>

</ion-content>
