<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-title>
      Financeiro Fácil
    </ion-title>
  </ion-toolbar>
  <ion-toolbar color="light">
      <ion-grid>
        <ion-row>
            <ion-col>
              <center><ion-title>
                <ion-datetime (ionChange)="selecionarMes()" monthNames="Janeiro, Fevereiro, Março, Abril, Maio, Junho, Julho, Agosto, Setembro, Outubro, Novembro, Dezembro" [(ngModel)]="mesAtual" cancelText="Cancelar" doneText="Ok" max="2050-12-09" displayFormat="MMMM/YYYY" placeholder="Selecione uma Data"></ion-datetime>
              </ion-title></center>
            </ion-col>
        </ion-row>
      </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar color="light">
      <ion-text><center><h2>Saldo do Mês</h2></center></ion-text>
      <ion-text><center><h4>{{saldoMes}}</h4></center></ion-text>
    </ion-toolbar>
  </ion-header>

  <ion-card  (click)="chamarRecebidos()" style="border-left: 8px solid #2dd36f">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <h2>Recebidos</h2>
          </ion-col>

          <ion-col>
            <h2> {{valorRecebido}}</h2>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <h3>À receber</h3>
          </ion-col>

          <ion-col>
            <h3> {{valorReceber}}</h3>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <h3>Total</h3>
          </ion-col>

          <ion-col>
            <h3> {{valorTotalRecebido}}</h3>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-card-content>
</ion-card>

<ion-card style="border-left: 8px solid #eb445a" (click)="chamarDespesas()">
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <h2>Despesas</h2>
        </ion-col>

        <ion-col>
          <h2> {{valorDespesa}}</h2>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <h3>À pagar</h3>
        </ion-col>

        <ion-col>
          <h3>{{valorPagar}}</h3>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <h3>Total</h3>
        </ion-col>

        <ion-col>
          <h3> {{valorTotalDespesa}}</h3>
        </ion-col>
      </ion-row>

    </ion-grid>
  </ion-card-content>
</ion-card>


</ion-content>
